#1. Simple Calculator

 Write a program that takes two numbers and an operator (+, -, *, /) from the user and performs the corresponding operation. Print the result.

In [1]:
num1 = int(input("Enter First Number: "))
num2 = int(input("Enter Second Number: "))
operator = input("Enter Operator(+, -, *, /): ")

if operator == '+':
  result = num1 + num2
elif operator == '-':
  result = num1 - num2
elif operator == '*':
  result = num1 * num2
elif operator == '/':
  if num2 != 0:
    result = num1 / num2
  else:
    print("You have entered number 2 as 0")
else:
  print("Invalid Operator")

print("Result = ", result)

Enter First Number: 12
Enter Second Number: 12
Enter Operator(+, -, *, /): *
Result =  144

#2. Area of Circle

Take the radius as input and calculate the area of a circle using the formula
ðœ‹
ð‘Ÿ
2
Ï€r
2
 . (Use math.pi for Ï€).

In [3]:
import math

radius = float(input("Enter Radius"))
pi = math.pi
area = pi * radius * radius
print(f'Area of Circle is {area}')

Enter Radius12
Area of Circle is 452.3893421169302

#3. Temperature Conversion

Write a program to convert temperature from Celsius to Fahrenheit. Use the formula:
ð¹ = (ð¶ Ã— 9/5) + 32

In [4]:
celcius = float(input("Enter Temperature in Celcius"))
fahrenheit = (celcius * 9/5) + 32
print(f'Temperature in Fahrenheit is {fahrenheit}')

Enter Temperature in Celcius25
Temperature in Fahrenheit is 77.0

#4. BMI Calculator

Write a program that takes a personâ€™s weight in kilograms and height in meters and calculates their BMI using the formula:
BMI = weight/height^2

In [7]:
weight = float(input("Enter Your Weight in Kilogram: "))
height = float(input("Enter Your Height in Meter: "))

if height > 0:
  bmi = weight / (height ** 2)
  print("your BMI is ", round(bmi, 2))
else:
  print("Height Cannot be Negative or Zero")

Enter Your Weight in Kilogram: 60
Enter Your Height in Meter: 1.8034
your BMI is  18.45

#5. Leap Year Checker:

Leap Year Checker: Take a year as input and check if it is a leap year. A year is a leap year if it is divisible by 4 but not by 100, except if it is also divisible by 400.

In [10]:
year = int(input("Enter Any Year: "))
if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
  print(f'{year} is a leep year')
else:
  print(f'{year} is not a leap year')

Enter Any Year: 2020
2020 is a leep year

#6. Even or Odd

 Write a program that takes a number and prints whether it is even or odd.

In [12]:
number = int(input("Enter Any Number: "))

if number % 2 == 0:
  print(f'{number} is even')
else:
  print(f'{number} is odd')

Enter Any Number: 4
4 is even

#7. Grade Calculator

Take a percentage as input and print the grade based on the following criteria:



*   90% and above: A+
*   80-89%: A
*   70-79%: B
*   60-69%: C
*   Below 60%: F

In [13]:
percentage = float(input("Enter Your Percentage: "))
if percentage >= 90:
  grade = "A+"
elif 80 <= percentage < 90:
  grade = "A"
elif 70 <= percentage < 80:
  grade = "B"
elif 60 <= percentage < 70:
  grade = "C"
elif percentage < 60:
  grade = "F"
else:
  print("Invalid Percentage!")

print(f'Your Grade is {grade}')

Enter Your Percentage: 85
Your Grade is A

# 8. Number Comparison

Take three numbers as input and find the largest among them.

In [15]:
num1 = int(input("Enter First Number: "))
num2 = int(input("Enter Second Number: "))
num3 = int(input("Enter Third Number: "))

if num1 > num2:
  if num1 > num3:
    print(f'{num1} is largest among all three')
  else:
    print(f'{num3} is largest among all three')
else:
  if num2 > num3:
    print(f'{num2} is largest among all three')
  else:
    print(f'{num3} is largest among all three')

Enter First Number: 200
Enter Second Number: 988
Enter Third Number: 566
988 is largest among all three

# 9. Factorial Calculation

Write a program that takes a positive integer and prints its factorial.

In [17]:
from re import I
fact = 1
n = int(input("Enter Any Positive Integer: "))
# i = 1
# while i <= n:
#   fact = fact * i
#   i = i + 1

# print(f'Factorial of {n} is {fact}')

for i in range (1, n+1):
  fact = fact * i

print(f'Factorial of {n} is {fact}')

Enter Any Positive Integer: 5
Factorial of 5 is 120

#10. Fibonacci Series

Write a program that takes an integer n and prints the first n numbers in the Fibonacci series.

In [21]:
n = int(input("Enter the Value of n: "))

a, b = 0, 1

if n <= 0:
  print("Please Enter a Positive Integer: ")
elif n == 1:
  print("Fibonacci Series: ", a)
else:
  for _ in range(n):
    print(a, end = " ")
    a, b = b, a + b

Enter the Value of n: 5
0 1 1 2 3

#11. Prime Number Check

Write a program that takes a number and checks if it is a prime number.

In [41]:
n = int(input("Enter Any Number: "))

if n <= 1:
  print(f"{n} is not a prime number")
else:
  is_Prime = True
  for i in range(2, int(n ** 0.5) + 1):
    if n % i == 0:
      is_Prime = False
      break
    else:
      is_Prime = True


if is_Prime:
  print(f"{num} is a prime number.")
else:
  print(f"{num} is not a prime number.")

Enter Any Number: 7
12 is a prime number.

# 12. Multiplication Table

Write a program that takes an integer and prints its multiplication table up to 10.

In [42]:
n = 5
for i in range(1, 11):
  print(f'{n} * {i} = {n * i}')

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [43]:
for i in range(1, 11):
  for j in range(1, 11):
    print(f'{i} * {j} = {i * j}')
  print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

#13. Sum of Digits

Write a program to calculate the sum of digits of a given integer. (For example, if the input is 123, the output should be 6).

In [47]:
n = int(input("Enter Any Number: "))
sum = 0
copy = n
while copy > 0:
  ld = copy % 10
  sum += ld
  copy = copy // 10
print(f"Sum of Digits of {n} = {sum}")

Enter Any Number: 12445
Sum of Digits of 12445 = 16

#14. Reverse a Number:

 Write a program that takes an integer and prints it in reverse order.

In [48]:
n = int(input("Enter Any Number: "))
copy = n
while copy > 0:
  ld = copy % 10
  print(ld, end = "")
  copy = copy // 10

Enter Any Number: 1234
4321

Or We can Use another method

In [49]:
n = int(input("Enter Any Number: "))
copy = n
reverse = 0
while copy > 0:
  ld = copy % 10
  reverse = (reverse * 10) + ld
  copy = copy // 10

print(reverse)

Enter Any Number: 1234
4321

# 15. Armstrong Number:

Write a program to check if a given number is an Armstrong number
(e.g., 153 = 1^3 + 5^3 + 3^3)

In [51]:
n = int(input("Enter Any Number You Want to Check: "))
copy = n
arm = 0
while copy > 0:
  ld = copy % 10
  arm += ld ** 3
  copy = copy // 10

if arm == n:
  print("ArmStrong")
else:
  print("Not an ArmStrong Number")

Enter Any Number You Want to Check: 121
Not an ArmString Number

#16. Count Vowels and Consonants

Write a program that takes a string as input and counts the number of vowels and consonants in it.

In [53]:
word = input("Enter Any String: ")

count_Vowel = 0
count_Consonent = 0

for i in range(len(word)):
  if word[i] == 'a' or word[i] == 'e' or word[i] == 'i' or word[i] == 'u' or word[i] == 'o':
    count_Vowel = count_Vowel + 1
  else:
    count_Consonent = count_Consonent + 1

+
print(f'Number of Vowels is {count_Vowel}')
print(f'Number of Consonents is {count_Consonent}')

Enter Any String: Shayan
Number of Vowels is 2
Number of Consonents is 4

#17. Login Authentication

Write a program that takes a username and password as input. If the username is "admin" and the password is "password123," print "Login Successful." Otherwise, print "Invalid credentials."

In [60]:
username = input("Enter Your UserName: ")
password =  input("Enter Your Password: ")

if username == "admin" and password == "password123":
  print("Login")
else:
  print("Invalid credentials")

Enter Your UserName: admin
Enter Your Password: password123
Login

# 18. Pattern Printing

Write a program to print the following pattern (for n = 5):

![Screenshot 2024-11-04 225729.png]()

In [61]:
n = 5
row = 1
while row <= n:
  col = 1
  while col <= row:
    print("*", end = "")
    col = col + 1
  print()
  row = row + 1

*
**
***
****
*****

#19. Sum of Even and Odd Numbers

Write a program that takes a list of numbers as input and calculates the sum of even and odd numbers separately.

In [63]:
n = int(input("Enter List of Numbers: "))
i = 0
even_Sum = 0
odd_Sum = 0
while i <= n:
  if i % 2 == 0:
    even_Sum += i
  else:
    odd_Sum += i

  i = i + 1

print("Even Sum = ", even_Sum)
print("Odd Sum = ", odd_Sum)

Enter List of Numbers: 10
Even Sum =  30
Odd Sum =  25